---
import { Font } from 'astro:assets';
import { ClientRouter } from 'astro:transitions';

import Presentation from '@app/components/page/head/presentation.astro';
import LockedHead from '@app/components/sanity/locked/locked-head.astro';
import LockedUi from '@app/components/sanity/locked/locked-ui.astro';
import VisualEditing from '@app/components/sanity/visual-editing/visual-editing.astro';
import { config } from '@app/config';

import '@app/styles/reset.css';
import '@app/styles/global.css';

const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == 'true';

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en' transition:name='root' transition:animate='none'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no'
    />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{(title && `${title} - `) || ''}{config.title}</title>
    {(description && <meta name='description' content={description} />) || null}
    <Font cssVariable='--font-roboto' preload />
    {visualEditingEnabled && <ClientRouter />}
    <LockedHead />
    <Presentation />
  </head>
  <body>
    <slot />
    <VisualEditing enabled={visualEditingEnabled} />
    <LockedUi class='locked-ui' />
  </body>
</html>

<style>
  .locked-ui {
    position: fixed;
    top: 20px;
    right: 20px;
  }
</style>
