---
import { ClientRouter } from 'astro:transitions';

import VisualEditing from '@app/components/sanity/visual-editing/visual-editing.astro';
import { config } from '@app/config';

const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == 'true';

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en' transition:name='root' transition:animate='none'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no'
    />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    {(description && <meta name='description' content={description} />) || null}
    <title>{(title && `${title} - `) || ''}{config.title}</title>
    <script is:inline>
      function isMaybePreviewIframe() {
        return window.self !== window.top;
      }
      function isMaybePreviewWindow() {
        return Boolean(window.opener);
      }
      function isMaybePresentation() {
        return isMaybePreviewIframe() || isMaybePreviewWindow();
      }

      if (isMaybePresentation()) {
        document.documentElement.classList.add('sanity--presentation');
      }
    </script>
    {visualEditingEnabled && <ClientRouter />}
  </head>
  <body>
    <slot />
    <VisualEditing enabled={visualEditingEnabled} />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 2em;
    background-color: white;
  }
</style>
